*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    height: 100%;
    width: 100%;
    background-image: url(./img/bc.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

.container{
    height: 100%;
    width: 100%;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20%;
    padding-left: 5%;

}
.card{
    padding: 10px;
    
}
.card-text{
    display: flex;
    justify-content: space-around;
    color: white;
}
button{
    padding:  5%  5% ;
    
    border-radius: 50%;
}

.card img{
    height: 200px;
    width: 200px;
      
}